<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

	<body>
		{% if site.data.settings.audit_header == true %}
			{% include audit.html %}
		{% endif %}
		{% include header.html %}
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">

					{% include navigation.html %}
				</div>
			</div>
			<div class="row ">
				<div class="col-sm-12 visible-xs visible-sm sidebar">
					{% include socials.html %}
					{% include search-box.html %}
				</div>
			</div>
			<div class="row">
				<div class="col-lg-5 col-md-5 col-lg-offset-2">
					<h4>About US Cottman Search</h4>
					<p>Cottman Executive Search is a retained, executive search firm specializing in senior management recruitment for clients in financial services, consulting, gov't regulatory agencies, and private equity. Specializing in Legal, Compliance, Risk, Regulatory, Operations and Technology positions, with offices in Greenwich, New York, and London. Founded by Cindy Cottman in 2008, after 20 years at Korn Ferry Int'l where she ran Financial Services in Europe before coming to the US to launch the Compliance, Risk and Regulatory Group in KFI NY office.</p>

	        <p>Paul Medaglia joined the firm as a Partner in 2017, after a 10-year career in executive recruiting with another leading global search firm.</p>

	        <strong>Types of Positions:</strong><br>
	        <ul class="indent">
	        <li>Chief Compliance Officer</li>
	        <li>Chief Risk Officer</li>
	        <li>Head of Financial Crimes Risk Management</li>
	        <li>Head of AML</li>
	        <li>General Counsel</li>
	        <li>Chief Operating Officer/Head of Operations</li>
	        <li>Chief Information Officer/Chief Information Security Officer</li>
	        </ul>
				</div>

			<!-- Sidebar Content // Hidden on mobile -->

				<div class="col-md-5 col-lg-3 hidden-sm hidden-xs sidebar">
					{% include socials.html %}
					{% include search-box.html %}
					{% include emma-form.html %}
					{% include cta-sidebar.html %}
					{% include lender.html %}
					{% include blog-archive-category.html %}
					{% include reviews.html %}
				</div>
			</div>

			</div>
			{% include testimonials.html %}
			{% include top-button.html %}
			{% include bottom-navigation.html %}
			{% include footer.html %}
  </body>
</html>
